@using Mortor.Web.Data
@inject MortorBlazorContext MortorBlazorContext

<form>
    <div class="mb-3 row">
      <label class="form-label">Reported By</label>
      <RadzenTextBox @bind-Value="_reportedBy" class="form-control"/>
    </div>
    <div class="mb-3 row">
    <label class="form-label">Reported By</label>
    <RadzenDatePicker DateFormat="d" @bind-Value=@_reportDate ShowTime="false" class="form-control"/>
  </div>
</form>

@code {
  private string _reportedBy = string.Empty;
  private DateTime _reportDate = DateTime.Now;

  public async Task<Guid> SaveReport()
  {
    var report = new Report
    {
      CreatedBy = _reportedBy,
      TargetDate = _reportDate,
      ReportLines = new List<ReportLine>()
    };
    await MortorBlazorContext.AddAsync(report);
    await MortorBlazorContext.SaveChangesAsync();
    return report.Id;
  }
}